server {
	listen 127.0.0.1:8060;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8061;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8062;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8063;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8064;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8065;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8066;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8067;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8068;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8069;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
###############################################################
server {
	listen 127.0.0.1:8070;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8071;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8072;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8073;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8074;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8075;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8076;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8077;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8078;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8079;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
###############################################################
server {
	listen 127.0.0.1:8080;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8081;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8082;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8083;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8084;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8085;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8086;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8087;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8088;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8089;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
###############################################################
server {
	listen 127.0.0.1:8090;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8091;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8092;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8093;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8094;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8095;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8096;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8097;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8098;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
server {
	listen 127.0.0.1:8099;
	autoindex on;
	location / {
		root www/ ;
		rewrite /blabla www/exemple.txt rewrite;
	}
	location /favicon. { 
		root www/testhtml/favicon. ;
		}
}
