   server {       #yo les potes
	server_name test auterenom.com machin.com;
	listen 10.33.3.5:8080;

	root html/site1/;
	index monsite.html;
	autoindex off;

	max_body_size	10000000;

	cgi /usr/bin/php-cgi,/usr/bin/python3,/usr/bin/bash;
	cgi_ext .php,.py,.sh;

	allow_methods GET,POST,DELETE;

	location /print.php {
		index html/index.html;
		autoindex on;
		max_body_size 100000000;
		redirection /redir.html;
		error_page 404 /404.html;
		error_page 405 /405.html;
		allow_methods GET, POST, DELETE;
		cgi /usr/bin/php-cgi,/usr/bin/python3,/usr/bin/bash;
		cgi_ext .php,.py,.sh;
	}

	location = /lucas.php {
		allow_methods DELETE;
		root html/site1/;
		index monsite.html;

		redirection /post.html;
	}
}

   server { 
	server_name secundo;


	location /print.php {
		allow_methods DELETE,POST;
	}
}
