	server {
	server_name test;
	listen 10.1.1.1:8080;

	root html/site1/;

	location = /truc/test.html {
		index html/primero_index.html;
		autoindex on;
		max_body_size   56   ;
		redirection   redir/truc;
		error_page 404 /404.html;
		error_page 405 /405.html;
		error_page 301 /there/somewhere/30x.html;


		cgi bash;
		cgi_ext .sh;
	}
	location /secundo {
		index html/secundo_index.html;
		max_body_size 1234567;
		error_page 404 /404.html;
		allow_methods GET, POST;

		cgi_ext .py;

	}
	location /third {
		autoindex on;
		max_body_size 100000000;
		redirection /third_redir.html;
		allow_methods GET;
		cgi /usr/bin/python3;
		cgi_ext .py, .php,  .zizi;
	}
}
	server {
	server_name test2;
	listen 10.1.1.1:8081;

	root html/site2/;
	}
