server {
	server_name test;
	listen 10.1.1.1:8080;

	root html/site1/;
#	allow_methods GET, POST;

	location = / {
	}
	location = /truc {

#		allow_methods GET,DELETE;
		root /www ;
	}
}

server {
	server_name test2;
	listen 127.0.0.1:8081;

	root html/site2/;

	location = /bidule {
		root /www ;
	}
	location = /truc {
		root /www ;
	}
}
