server {
	server_name test.com;
	listen 127.0.0.1:8080;

	root html/site1/;
	allow_methods GET, POST;
	autoindex on;

	location / {
		root www/ ;
		rewrite /blabla exemple.txt rewrite;
		rewrite /blibli exemple.txt permanent;
		index montec.html;
	}

	location /favicon. {
		root www/testhtml/favicon.;
	}

	location /www {
		root www/ ;
		autoindex off;
	}

	location /testhtml {
		root www/testhtml/;
		autoindex on;
	}

	location /cgi-bin {
		root www/cgi-bin/;
		cgi_ext .py;
	}

	location /truc {

		allow_methods GET,DELETE;
		root /www ;
	}

	location /truc/bidule {
	}

	location = /truc/bidule/machin {
	}
}

server {
	server_name test2;
	listen 127.0.0.1:8081;

	root html/site2/;

	location = /bidule {
		root /www ;
	}
	location = /truc {
		root /www ;
	}
}
