server {
	server_name test;
	listen 10.1.1.1:8080;

	root html/site1/;
	allow_methods GET, POST;
	autoindex off;

	location / {
		root www/ ;

	}

	location /www {
		root www/ ;
		autoindex off;
	}

	location /testhtml {
		root www/testhtml/;
	}

	location /cgi-bin {
		root cgi-bin/;
		cgi_ext .py;
	}

	location /truc {

		allow_methods GET,DELETE;
		root /www ;
	}

	location /truc/bidule {
	}

	location = /truc/bidule/machin {
	}
}

server {
	server_name test2;
	listen 127.0.0.1:8081;

	root html/site2/;

	location = /bidule {
		root /www ;
	}
	location = /truc {
		root /www ;
	}
}
